<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="./css/EstiloLogin/estilos.css">
	

</head>  
<body>
    <form class="formulario" action="/login" method="post">
    
    <h1>Login</h1>
     <div class="contenedor">
         <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input type="text" name="user"  placeholder="Usuario">
    </div>     
    <div class="input-contenedor">
         <i class="fas fa-key icon"></i>
         <input type="password" name="password" placeholder="Contraseña">
         
    </div>
         <button type="submit" class="button">
            Login
        </button>
         <p>BIENVENIDO</p>
         <p>PROYECTO ERP <a class="link" >BASE DE DATOS I </a></p>
     </div>
     <% if (respuesta) { %>
        <script>
            alert("<%= respuesta.message %>");
        </script>
     <%} %>

    </form>
</body>
</html>