<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
	<link rel="stylesheet" href="./css/EstiloInicio/estilo.css">
</head>
<body>

	<header>
		<nav>
			<a href="/seleccionp">Selección de personal</a>
			<a href="/puesto">Puesto</a>
			<a href="/contratacion">Contratación</a>
			<a href="/nominas">Nóminas</a>
		</nav>
	</header>

	<div class="encabezado-img">
		<h1>PROYECTO FINAL</h1>
		<p>MODULO A IMPLEMENTAR</p>
		<p>Recursos Humanos</p>
	</div>
	
</body>
</html>