<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="./css/EstiloFormulario1/style.css">
<title>FORMULARIO</title>
</head>
<body>
<form action="/usuarios" method="post">
<section class="form-register">
    <h4>Registro de Usuarios</h4>
<input class="controls" type="text" name="codigousuario" id="codigousuario" placeholder="Ingrese codigousuario">
<input class="controls" type="text" name="Nombres" id="Nombres" placeholder="Ingrese Nombres">
<input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese Apellidos">
<input class="controls" type="text" name="Usuario" id="Usuario" placeholder="Ingrese Usuario">
<input class="controls" type="text" name="Contrasena" id="Contrasena" placeholder="Ingrese Contrasena">
<input class="botons" type="submit" value="Registrar">
</section>
</form>

</body>



</head>











</html>